@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-size: 16px;
  line-height: 1.75;
}

@media (min-width: 640px) {
  body {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 19px;
  }
}
